<div class="artwork-card" onclick="window.location.href = '/artworks/<%= artwork._id %>'">
    <div class="artwork-card__img-container">
        <img src="<%= artwork.image %>" alt="<%= artwork.title %>" class="card__img">
    </div>
    <div class="artwork-card__info">
        <h3 class="card__title"><%= artwork.title %></h3>
    </div>
</div>