<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artworks</title>
    <link rel="stylesheet" href="styles.css">
    <script src="client.js"></script>
</head>
<body>
    <%- include("../partials/header", {isLoggedIn: isLoggedIn, notifications: notifications}); %>

    <div id="artworks-container">
        <h1 id="artworks-title">Artworks</h1>
        <div id="artworks">
            <% artworks.forEach(function(artwork) { %>
                    <%- include("../partials/artworkCard", { artwork: artwork }); %>
            <% }); %>
        </div>

        <div id="pagination">
            <button id="prev-page" class="btn" onclick="previousPage()">Previous Page</button>
            <button id="next-page" class="btn" onclick="nextPage()">Next Page</button>
        </div>
    </div>
</body>
</html>